/* .posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

} */
.post__container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:768px) {
    .post__container{
        width: 340px;
        grid-template-columns: 1fr;
        align-items: center;
    }
}
