.login{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../image/background.jpg');
    background-size: cover;
    padding: 7rem;

    
    
}
.loginTitle{
  font-size: 50px;  
  text-align:left;
}
.loginForm{
  background-color: rgb(14, 13, 13);
  border-radius: 10px;
  padding: 80px;
  color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: groove;
}
.loginForm>label{
  margin: 10px 0;  
  font-size: 18px;
  font-family: 'Varela Round',sans-serif;
  text-align: center;

}
.loginForm>input{
 padding: 10px;  
 background-color: transparent;
 border: 1px solid wheat; 
 color: white;

 border-radius: 10px;
 
}
.loginButton{
   margin-top: 30px;
   margin: 20px;
   cursor: pointer; 
   background-color:lightcoral ;
   border: none;
   color: white;
   border-radius: 10px;
   padding: 10px;
   text-align: center;

}
.loginRegister{
  margin-top: 20px;
  cursor: pointer; 
  background-color:lightcoral ;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;

 
}
.errmsg{
  color:red;
}