
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}
.logo{
font-size: 1.1rem;
margin-left: 1.5rem;
font-weight: 900;
cursor: pointer;
text-transform: uppercase;
transition: .5s;
}

.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 2rem;
    margin-right: 3rem;
}
.nav__item{
    font-size: .775rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
    
}
.link{
    text-decoration: none;
    color: rgb(49, 47, 47);
}
.logo:hover{
    color: #15D;
}
.nav__item:hover{
    color: #15D;
}

/* @media screen and (max-width:768px) {
    .logo{
        font-size: .775rem;
    }
    .nav__item{
        font-size: .65rem;
    }
 } */